 <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{page}}
        <small>{{back}}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> {{back}}</a></li>
        <li class="active">{{page}}</li>
      </ol>
    </section>