<!DOCTYPE html>
<html>
{{>head}}
<body class="hold-transition skin-purple-light sidebar-mini fixed">

  {{>bulkSMSnavbar}}
  {{>bulkSMSsidebar}}
  <div class="content-wrapper">
   {{>content-header}}
   <section class="content">
     {{{body}}}
   </section>

 </div>

 {{>footer}}
 {{>customizer}}

{{>scripts}}

</body>
</html>
