<section>
  <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <a href="/admins" class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-person"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Admins</span>
              <span class="info-box-number">{{stats.admin_count}}</span>
            </div>
            <!-- /.info-box-content -->
          </a>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <a href="/contacts" class="info-box">
            <span class="info-box-icon bg-red"><i class="fa ion-person-stalker"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Contacts</span>
              <span class="info-box-number">{{stats.contacts_count}}</span>
            </div>
            <!-- /.info-box-content -->
          </a>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <a href="/groups" class="info-box">
            <span class="info-box-icon bg-green"><i class="ion ion-ios-people-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Groups</span>
              <span class="info-box-number">{{stats.groups_count}}</span>
            </div>
            <!-- /.info-box-content -->
          </a>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <a href="/messages" class="info-box">
            <span class="info-box-icon bg-yellow"><i class="ion ion-email"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Sent messages</span>
              <span class="info-box-number">{{stats.messages_count}}</span>
            </div>
            <!-- /.info-box-content -->
          </a>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        {{>form}}
      </div>
    </div>
</section>