{{>head}}
<link rel="stylesheet" type="text/css" href="theme.css">
<body class="skin-blue layout-top-nav">
  <div class="wrapper">

  <header class="main-header">
    <nav class="navbar navbar-static-top">
      <div class="containerx">
        <div class="navbar-header">
          <a class="navbar-brand">Sabek<b>Systems</b></a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse pull-right" id="navbar-collapse">

          <form action="/login" method="post"  class="navbar-form navbar-left" role="login">
            <div class="form-group">
              <input type="text" class="form-control" id="navbar-search-input" name="username" placeholder="Username" required>
            </div>

            <div class="form-group">
              <input type="password"  class="form-control" id="navbar-search-input" name="password" placeholder="Password" required>
            </div>
            <button class="btn btn-flat" type="submit">login</button>
          </form>

        </div>

        <!-- /.navbar-custom-menu -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </header>
  <!-- Full Width Column -->

  <div class="content-wrapper">
  <br>
    <div class="container-fluid">
      <div class="row">
      	<div class="col-md-9 text-center"><!-- /.col -->
          <div class="box box-solid">
            <!-- /.box-header -->
            <div class="box-body">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="/images/grow.png" alt="Grow">

                    <div class="carousel-caption">
                      Grow
                    </div>
                  </div>
                  <div class="item">
                    <img src="/images/share.jpg" alt="Share">

                    <div class="carousel-caption">
                      Share
                    </div>
                  </div>
                  <div class="item">
                    <img src="/images/direct.jpg" alt="Third slide">

                    <div class="carousel-caption">
                      Direct to your audience
                    </div>
                  </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                  <span class="fa fa-angle-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                  <span class="fa fa-angle-right"></span>
                </a>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        <!-- /.col --></div>
      	<div class="col-md-3"><div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Join Us</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="" method="post">
              <div class="box-body">
              <div class="form-group">
                  <label for="exampleInputEmail1">Full names</label>
                  <input type="text" class="form-control" name="name" id="exampleInputEmail1" placeholder="Full documented names" required>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Organisation</label>
                  <input type="text" class="form-control" name="organisation" id="exampleInputEmail1" placeholder="What organisation are you representing?" required>
                </div>
                
                <div class="form-group">
                  <label for="exampleInputEmail1">Phone Number</label>
                  <input type="number" class="form-control" name="phone" id="exampleInputEmail1" placeholder="Official phone number we can use to contact you" required>
                </div>

                <div class="form-group">
                  <label for="exampleInputEmail1">Login Credentials</label>
                  <input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="Email Address" required>
                </div>
                
                <div class="form-group">
                  {{!-- <label for="exampleInputPassword1">Password</label> --}}
                  <input type="password" autocomplete="new-password" class="form-control" name="password" id="password" placeholder="Password" required>
                </div>

                <div class="form-group">
                  {{!-- <label for="exampleInputPassword1">Password</label> --}}
                  <input type="password" autocomplete="new-password" class="form-control" name="password" id="confirm_password" placeholder="Verify Password" required>
                </div>
              </div>
              <script type="text/javascript">
                var password = document.getElementById("password")
                  , confirm_password = document.getElementById("confirm_password");

                function validatePassword(){
                  if(password.value != confirm_password.value) {
                    confirm_password.setCustomValidity("Passwords Don't Match");
                  } else {
                    confirm_password.setCustomValidity('');
                  }
                }

                password.onchange = validatePassword;
                confirm_password.onkeyup = validatePassword;
              </script>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary pull-right">Register</button>
              </div>
            </form>
          </div></div>
      </div>
      <!-- /.content -->








      {{!-- end of the adverts of what we do --}}
    </div>
    <!-- /.container -->

          {{!-- the rest of the page --}}
      <h2 class="text-center" style="margin-bottom: 40px">What do we have to offer?</h2>

      <div class="text-center features-menu">
      <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="feature-item animated fadeInUp delay-3">
                    <i class="fa fa-css3"></i>
                    <h4>Unlimited Contacts Storage &amp;</h4>

                    <p>
                        Verified and secure storage of all your contacts.No more complicated excell sheets, our Big Data cloud storage will store it all for you
                    </p>
                </div>
            </div>
            <!-- /.item -->

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="feature-item animated fadeInUp delay-3">
                    <i class="fa fa-laptop"></i>
                    <h4>Contacts Grouping</h4>

                    <p>
                        Groups your contacts and manage them easily using our simple portal, Send messages to groups and to Individuals
                    </p>
                </div>
            </div>
            <!-- /.item -->

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="feature-item animated fadeInUp delay-3">
                    <i class="fa fa-paint-brush"></i>
                    <h4>Unique Alphanumeric id's</h4>

                    <p>
                        Send messages with a unique identifier, Represent your brand as the messages arrive.
                    </p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="feature-item animated fadeInUp delay-3">
                    <i class="fa fa fa-th"></i>
                    <h4>Track Your messages</h4>

                    <p>
                        Get updates and notifications of messages sent and replied, delivery rates , in charts and emails. To help you understand indepth on what is happening and how it impacting your bussiness
                    </p>
                </div>
            </div>
         
        </div>
      </div>
        
      </div>


      <div class="section bg-grey">
    <div class="container">
            <h2 class="text-center" style="margin-bottom: 40px">Issues &amp; Support</h2>

            <p class="lead text-center">
                For SMS support, please call +254 711 657 108
                {{!-- <a href="https://github.com/almasaeed2010/AdminLTE/issues">Github repository</a> --}}
                and state your issue, suggestion, or contribution.
            </p>

            <p>
                We try our best to provide support to the users of our BULK SMS. Thanks to many of our users, SABEK has
                a great community support. We will try to respond to your post as soon as possible.
                For a faster response, please include as much information about your issue as possible.
            </p>
        </div>
    </div>


    {{!-- testimonials --}}
    <div class="testimonials">
    <div class="container">
        <h2 class="text-center">What Others Are Saying</h2>
        <div class="row">

            <div class="col-md-4">
                <div class="testimonial-item">
                    <div class="testimonial-img"></div>
                    <p class="testimonial-content">
                        @BransonGitomeh and his team has done a great design On the BULKSMS Solution. Loved it.
                        <br><br>
                        ─ @evansmbugua
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="testimonial-item">
                    <div class="testimonial-img"></div>
                    <p class="testimonial-content">
                        We use this tool to send thousands of messages to our churches congregation.
                        <br><br>
                        ─ @DC_thetaRuiru
                    </p>
                </div>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Version</b> 2.3.7
      </div>
      <strong>Copyright &copy; 2016 <a href="http://almsaeedstudio.com">Sabek LTD</a>.</strong> All rights
      reserved.
    </div>
    <!-- /.container -->
  </footer>
</div>

      {{!-- navbar with drops --}}
      {{!-- big page with banner --}}
      {{!-- customer stories --}}

      <!-- /.login-box -->
      {{>scripts}}
    </body>

    {{!-- <h1>welome</h1> --}}
